<app-sidebar></app-sidebar>
<div class="main-content">

  <header>
    <div class="search-wrapper">
      <!-- <span class="ti-search"></span>
      <input type="search" placeholder="Search"> -->
    </div>

    <div class="social-icons">
      <!-- <span class="ti-bell"></span>
      <span class="ti-comment"></span> -->
      <div class="dropdown" *ngFor="let profile of pic">
        <img src="https://offip.co.za/Backend{{profile.image}}" alt="No pic">
        <div class="dropdown-content">
          <ul class="menu">
            <li>
              <a>
                <span class="ti-user"></span>
                <span>{{username}}</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/account']">
                <span class="ti-settings"></span>
                <span>Account</span>
              </a>
            </li>
            <li>
              <a (click)="logout($event)" style="cursor: pointer;">
                <span class="ti-power-off"></span>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <main>
    <!-- <div *ngFor="let survey of surveys">
      <h5 class="dash-title">Name of creator: {{survey.creator}}</h5>
      <h6 class="dash-title">Date create: {{survey.created_at}}</h6>
    </div> -->

    <div class="demographics">
      <!-- User info -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Client Demographics</h4>
        </div>
        <div class="alert alert-danger" [hidden]="!error" style="text-align: center;">
          {{error}}
        </div>
        <div class="panel-body">
          <table class="table profile__table">
            <tbody *ngFor="let pro of profile">
              <tr>
                <th><strong>Name of Company</strong></th>
                <td>{{pro.name}}</td>
              </tr>
              <tr>
                <th><strong>Age of Company/Institution</strong></th>
                <td>{{pro.age}} Years</td>
              </tr>
              <tr>
                <th><strong>Country</strong></th>
                <td>{{pro.country}}</td>
              </tr>
              <tr>
                <th><strong>Province/State</strong></th>
                <td>{{pro.province}}</td>
              </tr>
              <tr>
                <th><strong>Town</strong></th>
                <td>{{pro.town}}</td>
              </tr>
              <tr>
                <th><strong>Postal Code</strong></th>
                <td>{{pro.code}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <section class="recent">
      <!-- Main content -->
      <div class="col-md-12 grid-margin">
        <div class="row">
          <div class="alert alert-info" style="width: 100%;">
            <p>This report is a snapshot of {{selectedSurvey}} Survey</p>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12 grid-margin">
          <div class="search-container" style="float: right; padding-left: 15px;">
            <form action="">
              <input type="text" placeholder="Filter Report" name="search" (keyup)="quickSearch()"
                [(ngModel)]="searchValue">
            </form>
          </div>

          <div style="float: left; margin-right: 15px;">
            <button class="exporttoexcel" (click)="onBtExport()">Export to csv file</button>
          </div>

          <div style="float: left; margin-right: 15px;" *ngFor="let survey of surveys">
            <button class="exporttoexcel" (click)="getClientData(survey.creator)">Get Client Data</button>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card position-relative">
            <div class="card-body-table">
              <ag-grid-angular style="width: 100%; height: 100vh;" class="ag-theme-balham" [columnDefs]="columnDefs"
                [frameworkComponents]="frameworkComponents" [animateRows]="true" [pagination]="true"
                [paginationPageSize]="25" [sortingOrder]="sortingOrder" (gridReady)="onGridReady($event)">
              </ag-grid-angular>
            </div>
          </div>
        </div>
      </div>
      <!-- /.content -->
    </section>


  </main>

</div>
